#pen{
    width: 30px;
    height: auto;
    cursor: pointer;
}
#eraser{
    width: 25px;
    height: auto;
    cursor: pointer;
}
canvas{
    cursor: crosshair;
    border:  2px solid rgb(202, 202, 202);
  
}
#clear{
    cursor: pointer;
    float: right;
    padding-right: 5px;
}
input{ cursor: pointer;}
#save{
    width: 25px;
    float: right;
    padding-right: 20px;
}
#undo{
    width: 25px;
    cursor: pointer;
}
#redo{
    width: 25px;
    cursor: pointer;
}
#clear{
    width: 25px;
}